body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(100deg, #ffd1b0, #ff829a, #e27da1, #846c98, #846c98, #e27da1, #ff829a, #ffd1b0);
  background-size: 800%;
  animation: bganimation 30s infinite;
}

i {
  font-size: 20px;
}

header .card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
  width: 30rem;
  margin-top: 20%;
  margin-left: 30px;
  position: relative;
}
.services .card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 15%;
  margin-bottom: 15%;
}

.navbar {
  max-width: 70%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
}

#navbarNav li {
  margin-left: 20px;
}
#navbarNav ul {
  margin-left: 55%;
}

header {
  margin-top: 40px;
  width: 76%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.img {
  margin-left: 50px;
  margin-top: -10px;
  margin-bottom: 30px;
}

.progress {
  height: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.progress-bar {
  background-color: rgba(211, 211, 211, 0.342);
  border-radius: 15px;
  height: 10px;
}

.team {
  width: 76%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.team .card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 3%;
  margin-bottom: 10%;
}

.team img {
  border-radius: 300px;
  width: 100px;
  height: 100px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.zero {
  margin-top: 20px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

@keyframes bganimation {
  0% {
    background-position: 10% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1299px) {
  #navbarNav li {
    margin-left: 0%;
  }

  header {
    margin-top: 100px;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .team {
    margin-top: 20px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .team .card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 3%;
    margin-bottom: 3%;
  }

  #navbarNav ul {
    margin-left: 43%;
  }
  header .card {
    margin-top: 30px;
    z-index: 2;
    width: auto;
    margin-left: 0px;
  }

  .img {
    margin-top: -60px;
    margin-left: 0px;
  }
  .services .card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 5%;
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 991px) {
  .navbar-light .navbar-toggler {
    color: transparent; 
}
  .navbar-toggler{
    border: none;
    color: transparent;
    border-color: transparent;
  }

  #navbarNav li {
    margin-left: 0%;
  }

  header {
    margin-top: 100px;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .team {
    margin-top: 20px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .team .card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 3%;
    margin-bottom: 3%;
  }

  #navbarNav ul {
    margin-left: 0%;
  }
  header .card {
    margin-top: 30px;
    z-index: 2;
    width: auto;
    margin-left: 0px;
  }

  .img {
    margin-top: -40px;
    margin-left: 0px;
  }
  .zero p {
    font-size: 14px;
  }
}
